body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
footer{
    margin:0 !important;
}

.dashItem{
    background: linear-gradient(to bottom, #FDC830, #F37335)
}

.header-Top{
    background: #F5F7FA;
    position: relative;
    display: block;
    height: 50vh;
}

.header-Top img {

    height: 50vh;
}

.content_{
    position: relative;
  height:100vh;
  overflow:auto;
  width: 100vw;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.hov:hover {
  cursor: pointer;
}



main {
    margin:0 !important;
    background:#f0f0f0;
  padding-top: 10px;
  min-height: 50vh;
  z-index:100;
  position:relative;
  width: 100vw;
}

a{
    text-decoration: none !important;
}

.loggedBoxItem:hover{
    background: #c1c1c1;
}

@media screen and (max-width:991px) {
  .dropdown-menu-right {
      left: 0 !important;
      right: auto !important;

  }

}

@media screen and (max-width: 767px) {
    .recentMessage{
        margin-left: 0 !important;
    }
}

@media screen and (min-width:992px) {
    .registerTop{
        position: absolute;
        right: 0;
        margin-right: 10px;
    }
    .topImg{
        position: absolute;
        left: 0;
        margin-left: 10px;
    }

}

@keyframes example {
    from {
        font-size: 1em;
    }
    to {
        font-size: 1.3em;
        background-color: rgba(250,250,210,0.5);
    }
}

.language:hover{
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}