body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content{
  height:100vh;
  overflow:auto;
  width: 100vw;
}


.hov:hover {
  cursor: pointer;
}

main {
  padding-top: 10px;
  min-height: 50vh;
  z-index:100;
  position:relative;
  width: 100vw;
}

a{
    text-decoration: none !important;
}

.loggedBoxItem:hover{
    background: #c1c1c1;
}

@media screen and (max-width:767px) {
  .dropdown-menu-right{
    left: 0 !important;
    right: auto !important;
  }

}

@media screen and (min-width:768px) {
  .registerTop{
    position: absolute;
    right: 0;
    margin-right: 10px;
  }

}