body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content{
  height:100vh;
  overflow:auto
}


.hov:hover {
  cursor: pointer;
}

main {
  min-height: 50vh;
  z-index:100;
  position:relative;
}